<div class="row">
    <div class="col-sm-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <a class="btn btn-sm btn-primary float-right" [routerLink]="['new']">
                    <i class="fa fa-plus"></i> Adicionar
                </a>
                <h1 class="h4 mb-0">{{ contentTitle }}</h1>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Data</th>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th>Devedor</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let expense of expenseList">
                            <td>{{ expense.id }}</td>
                            <td>{{ expense.date | date : "dd/MM/yyyy - HH:mm" }}</td>
                            <td>{{ expense.description }}</td>
                            <td>{{ expense.value }}</td>
                            <td>{{ expense.debtor?.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>