<div class="app header-fixed sidebar-fixed aside-menu-fixed pace-done sidebar-lg-show">

    <div class="pace  pace-inactive pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    <header app-navbar-top class="app-header navbar"></header>

    <div class="app-body">
        <div app-sidebar class="sidebar"></div>

        <main class="main">
            <ol app-breadcrumb class="breadcrumb"></ol>

            <div class="container-fluid">
                <div id="ui-view">
                    <div>
                        <div class="animated fadeIn">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <aside app-aside-menu class="aside-menu"></aside>
    </div>

    <footer app-footer class="app-footer"></footer>
</div>