<div class="row">
    <div class="col-md-8 col-xl-6">
        <div class="card">
            <div class="card-header">
                <h1 class="h4 mb-0">Create new Expense</h1>
            </div>
            <div class="card-body">

                <div class="form-group">
                    <label for="name">Description</label>
                    <input class="form-control" type="text">
                </div>

                <div class="form-group">
                    <label for="ccnumber">Value</label>
                    <input class="form-control" type="number" placeholder="R$">
                </div>

                <div class="form-group">
                    <div class="form-check checkbox">
                        <input class="form-check-input" id="check1" type="checkbox">
                        <label class="form-check-label" for="check1">Expense already paid</label>
                    </div>

                </div>

                <div class="form-actions">
                    <button class="btn btn-sm btn-primary" type="submit">Create</button>
                </div>

            </div>
        </div>
    </div>

</div>